<app-header [showMenu]="true" title="Inicio"></app-header>
<ion-content>
  <ion-menu-toggle autoHide="false" *ngFor="let m of main">
    <!--Al final del ion item, lo de detail es para colocar una flecha a la derecha de Inicio y de Perfil-->
    <ion-item [ngClass]="{'active': currentPath === m.url}" [routerLink]="m.url" routerDirection="root" detail>
      <ion-icon slot="start" [name]="m.icon"></ion-icon>
      <ion-label>{{ m.title}}</ion-label>
    </ion-item>
  </ion-menu-toggle>
  <ion-list>
    <ion-item-sliding class="product-item">
      <ion-item>
        <!--El ion-avatar es donde va a ir el "avatar" o una imagen que pueda representarlo con tan solo un img src-->
        <ion-avatar slot="start">
          <!--<ion-icon class="empty-icon" name="person-circle-outline"></ion-icon>-->
          <img src="../../../../assets/Ecoapp logo.png" alt="">
        </ion-avatar>
        <ion-label>
          <div class="name">Ruta 1</div>
          <div class="data">
            <strong>Presupuesto aproximado: </strong> {{'300000' | currency: 'COP'}} <br>
            <strong>Fecha: </strong> {{'30 de Septiembre de 2024'}} <br>
            <strong>Destino: </strong> {{'Amagá' }} <br>
          </div>
        </ion-label>
      </ion-item>

      <ion-item-options>
        <ion-item-option>
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option>
      
        <ion-item-option color="danger">
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>


    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addUpdateEmployee()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>