<center><b><app-header title="Explorar"></app-header></b></center>

<ion-content [fullscreen]="true">
  <iframe src="https://satellites.pro/mapa_de_Region_de_Antioquia" frameborder="25" width="380" height="450"></iframe>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/BanderaAmagá.png" alt="">
    </ion-avatar>
    <ion-label>
      <div class="name"><FONT SIZE=5><b>Amagá</b></FONT></div>
      <div class="data">
        <strong>Clima:</strong> {{'Templado | Propenso a precipitaciones | Viento normal'}} <br>
        <strong>Actividades turísticas: </strong><br>{{'- Escalar'}}<br>{{'- '}}
        <strong>Destino: </strong> {{'Amagá' }} <br>
      </div>
    </ion-label>
  </ion-item>
</ion-content>
